@tailwind base;
@tailwind components;
@tailwind utilities;
/* ----- SMOOTH SCROLL ----- */
html{
    scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 8px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #bbb;
}

input[type="number"] ::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
}
input[type="number"] ::-webkit-outer-spin-button {
    
    -webkit-appearance: none;
}