@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(242, 240, 238);
}

input {
    transition: 0.500s;
}
input:hover {
    transition: 0.500s;
    scale: 1.05;
}
